body, button, input, select, optgroup, textarea {
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0;
    }
}


.single-product {
    border: 1px solid #ebecf0;
    border-radius: 0.25rem;
}

.single-product .product-content {
    padding: 10px;
}

.single-product .product-content h3 {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    margin: 5;
}

.single-product .product-content p {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.single-product .product-content .product-price {
    margin: 6px 0 0 0;
}

.single-product .product-content .product-price span {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.sort-font{
    color:#333;
    font-size: 15px;
    margin: 0 10px;
}